.Hero {
    background-color: #ffffff;
    background-position: left;
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: 60%;
    max-height: 700px;
    height: 100vh;
}